#### Further inspect the veriables in the pycharm or spyder variable explorer. Spyder is best for Pandas data exploration

In [ ]:
import pandas as pd
import numpy as np
import os
np_array = np.random.rand(3)
np_array

In [ ]:
type(np_array)

###  Introducing Panada Series

In [ ]:
pd_series = pd.Series(np_array)
pd_series

In [ ]:
pd_series = pd.Series(np_array,index = ["First","Second","third",])
pd_series

In [ ]:
pd_series["First"]

In [ ]:
pd_series.index

#### Data in to 2D

In [ ]:
array2d = np.random.rand(3,2)
array2d

### Introducing Pandas Dataframe

In [ ]:
df = pd.DataFrame(array2d)
df

In [ ]:
df.columns = ["First", "Second"]
df

In [ ]:
!pwd

In [ ]:
!ls

In [ ]:
CSV_PATH = os.path.join("pandas-on-spyder" ,"TestData", "titanic.csv")

# Read just 5 rows to see what's there
#df = pd.read_csv(CSV_PATH, nrows=5)
df = pd.read_csv(CSV_PATH)

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df['Age'].min()

##### Slicing the DataFrame

In [ ]:
# Last 10 rows
df[-10:]

##### iloc and loc is more efficient than Slicing in terms of performance

In [ ]:
# With iloc you can set columns by integer
# With iloc you can set the index of the row
df.iloc[-5:, [0,3,2,4]]

In [ ]:
# With loc you can set columns by column name
# With loc you can set row indexes of you set a column to be your indexed column
#df['PassengerId'] = df.index

dfr = pd.DataFrame(data = df, index = ['PassengerId'] )

dfr.loc[:, ['PassengerId','Name']]

In [ ]:
%matplotlib inline

In [ ]:
df['Age'].plot()

In [ ]:
df['Age'].plot.hist(bins=100)

##### Transpose a pandas DataFrame

In [ ]:
dft = df.head(5)
dft = dft.T
dft

In [ ]:
dft[0]

In [ ]:
CSV_PATH = os.path.join("pandas-on-spyder" ,"TestData", "titanic.csv")
# Proper data loading
COLS_TO_USE = ['PassengerId','Survived', 'Pclass', 'Sex', 'Age', 'Fare', 'Cabin']
df = pd.read_csv(CSV_PATH, usecols=COLS_TO_USE, index_col='PassengerId')

df['Fare'].count()
df_prs = pd.to_numeric(df['Fare'], errors = "coerce")

# It has become a series
type(df_prs)
df_prs.count()
df_prs
# Apply iloc in a series
df_prs.iloc[260:270]
df_prs.iloc[263]

In [ ]:
df.info()

In [ ]:
df_prs.plot(kind='bar')

### Filtering in DataFrame

In [ ]:
df['Age'] > 18

In [ ]:
test_df =  pd.DataFrame(np.random.rand(3,2), index = ['fst', 'sec', 'thd'], columns = ['cow', 'dog'])

In [ ]:
# Filtering the rows with a list 
# i.e. [ True, True, True, True, True .... the number of row]
test_df[[True, Flase, True]]

In [ ]:
# Filtering the rows with a list from an expression
# test_df['cow'] > 0.5 givs a list of True/Flase of row size.
test_df[test_df['cow'] > 0.5]

In [ ]:
# Filter out how many children died.
df[(df['Age'] < 18) & (df['Survived'] == 0)]

In [ ]:
# Filter out how many children died - Using loc
df.loc[(df['Age']<18)&(df['Survived']==0),:]

#### Change/Modify column

In [ ]:
# Add a new column
df['IsPathetic'] = False

In [166]:
# Modify the column based on some logic - IsPathetic - True if a child has died.
df['IsPathetic'] = (df['Age'] < 18) & (df['Survived'] == 0)
df

             Survived  Pclass     Sex   Age      Fare        Cabin  IsPathetic
PassengerId
1                   0       3    male  22.0    7.2500          NaN       False
2                   1       1  female  38.0   71.2833          C85       False
3                   1       3  female  26.0    7.9250          NaN       False
4                   1       1  female  35.0   53.1000         C123       False
5                   0       3    male  35.0    8.0500          NaN       False
6                   0       3    male   NaN    8.4583          NaN       False
7                   0       1    male  54.0   51.8625          E46       False
8                   0       3    male   2.0   21.0750          NaN        True
9                   1       3  female  27.0   11.1333          NaN       False
10                  1       2  female  14.0   30.0708          NaN       False
11                  1       3  female   4.0   16.7000           G6       False
12                  1       1  female  58.0   26.5500         C103       False
13                  0       3    male  20.0    8.0500          NaN       False
14                  0       3    male  39.0   31.2750          NaN       False
15                  0       3  female  14.0    7.8542          NaN        True
16                  1       2  female  55.0   16.0000          NaN       False
17                  0       3    male   2.0   29.1250          NaN        True
18                  1       2    male   NaN   13.0000          NaN       False
19                  0       3  female  31.0   18.0000          NaN       False
20                  1       3  female   NaN    7.2250          NaN       False
21                  0       2    male  35.0   26.0000          NaN       False
22                  1       2    male  34.0   13.0000          D56       False
23                  1       3  female  15.0    8.0292          NaN       False
24                  1       1    male  28.0   35.5000           A6       False
25                  0       3  female   8.0   21.0750          NaN        True
26                  1       3  female  38.0   31.3875          NaN       False
27                  0       3    male   NaN    7.2250          NaN       False
28                  0       1    male  19.0  263.0000  C23 C25 C27       False
29                  1       3  female   NaN    7.8792          NaN       False
30                  0       3    male   NaN    7.8958          NaN       False
...               ...     ...     ...   ...       ...          ...         ...
862                 0       2    male  21.0   11.5000          NaN       False
863                 1       1  female  48.0   25.9292          D17       False
864                 0       3  female   NaN   69.5500          NaN       False
865                 0       2    male  24.0   13.0000          NaN       False
866                 1       2  female  42.0   13.0000          NaN       False
867                 1       2  female  27.0   13.8583          NaN       False
868                 0       1    male  31.0   50.4958          A24       False
869                 0       3    male   NaN    9.5000          NaN       False
870                 1       3    male   4.0   11.1333          NaN       False
871                 0       3    male  26.0    7.8958          NaN       False
872                 1       1  female  47.0   52.5542          D35       False
873                 0       1    male  33.0    5.0000  B51 B53 B55       False
874                 0       3    male  47.0    9.0000          NaN       False
875                 1       2  female  28.0   24.0000          NaN       False
876                 1       3  female  15.0    7.2250          NaN       False
877                 0       3    male  20.0    9.8458          NaN       False
878                 0       3    male  19.0    7.8958          NaN       False
879                 0       3    male   NaN    7.8958          NaN       False
880                 1       1  female  56.0   83.1583          C50       False
881                 1       2  female  25.0   26.0000          NaN       False
882                 0       3    male  33.0    7.8958          NaN       False
883                 0       3  female  22.0   10.5167          NaN       False
884                 0       2    male  28.0   10.5000          NaN       False
885                 0       3    male  25.0    7.0500          NaN       False
886                 0       3  female  39.0   29.1250          NaN       False
887                 0       2    male  27.0   13.0000          NaN       False
888                 1       1  female  19.0   30.0000          B42       False
889                 0       3  female   NaN   23.4500          NaN       False
890                 1       1    male  26.0   30.0000         C148       False
891                 0       3    male  32.0    7.7500          NaN       False

[891 rows x 7 columns]