In [3]:
import pandas as pd
import numpy as np
import os

CSV_PATH = os.path.join("DataTitanic", "titanic.csv")

# Read just 5 rows to see what's there
#df = pd.read_csv(CSV_PATH, nrows=5)
df = pd.read_csv(CSV_PATH)

### Remove the null values

In [ ]:
df.info()

In [ ]:
# Get all the columns which has null values
df.isnull().any()

In [ ]:
# Get all the rows which has at least a null values
df.isnull().any(axis=1)

# Show all the rows which has at least a null value
df.loc[df.isnull().any(axis=1),:]

#### Drop a column

In [ ]:
# Remove a column totally from a DataFrame - 
#  inplace = True = will remove it totally from the DataSet
df.drop(columns = 'Cabin', inplace = True)

In [ ]:
# Show columns with at least a null 
df.isnull().any()

In [ ]:
df.loc[df.isnull().any(axis=1),:]
#df.loc[df.isnull().any(axis=1),'Embarked'].value_counts()

#### Remove the null values with mean values

In [ ]:
df.fillna({'Age':df['Age'].mean()}, inplace = True)

### Handling outliers

In [ ]:
%matplotlib inline

In [ ]:
fare = df['Fare']
fare.plot.box()

In [ ]:
df.plot.scatter( x='Age', y='Fare')

### Setting Index

In [ ]:
df.tail()

In [ ]:
df.index = df['PassengerId']

In [ ]:
# Set the 'PassengerId' the index.
# Drop the column from DataFrame (drop=True)
# Make the change permanent (inplace=True)
df.set_index('PassengerId', drop=True, inplace=True)

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
# Reset the indexing from 0 .. 890 
# This will bring back the old PassengerID - use drop=True to prevent this phenomena
df.reset_index(drop=True, inplace=True)

### Rename column with a dictionary

In [ ]:
df.rename(columns={'SibSp':'Sibling', 'Parch':'Children'}, inplace=True)

In [ ]:
df.head()

### Type conversion

In [ ]:
df[['Age']] = df[['Age']].astype(int)

In [ ]:
df.head()

In [ ]:
df[['Age']].max()

###  Mathematical operation

In [ ]:
df2 = pd.DataFrame(np.ones([5,4]), columns = ['a','b','c','d'])

In [ ]:
df2

In [ ]:
# Multiply the whole DataFrame with 2
df2 *=2

In [ ]:
df2

In [ ]:
# Devide a  row with 2
df2.loc[1] /= 2

In [ ]:
df2

In [ ]:
# Multiply a column with 50
df2['c'] *= 50

In [ ]:
df2

In [ ]:
# Calculate a mean for every column, Result : A Series
df2.mean()

In [ ]:
# Substruct a Seris from a DataFrame
df3 = df2 - df2.mean()

In [ ]:
# Use DataFrame.Apply method to implement a function row/column wise of a DataFrame
def iqr(col):
    return col + 0.8

df3

In [ ]:
# Apply a function on a DataFrame - column-wise
df3.apply(iqr)
#df3.apply(iqr, axis = 1)

In [ ]:
# Apply a function on a DataFrame - row-wise
df3.apply(iqr, axis = 1)

In [ ]:
def SomeFunc(cell):
    return cell + 0.8

In [ ]:
# Apply a function on a DataFrame - row-wise
df3.applymap(SomeFunc)

In [ ]:
# Apply a function on a DataFrame - with numpy function
df4 = np.sin(df3)
df4

In [ ]:
# Apply a function on a DataFrame - with DataFrame.applymap()
df3.applymap(np.sin)